<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.8.x-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>

<!-- START NAV -->
<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="/">Oaxaca Mexican Food</a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
    </div>
  </div>
  </div>
</nav>
<!-- END NAV -->
<div class="container">
  <div class="columns">
    <div class="column is-3 ">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active">Dashboard</a></li>
          <li><%= link_to 'Menu', dashboard_foods_path %></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a>Manage Your Team</a>
            <ul>
              <li><a>Employees</a></li>
              <li><a>Add an employee</a></li>
              <li><a>Manage an employee</a></li>
              <li><a>Remove an employee</a></li>
            </ul>
          </li>
<!--          <li><a>Invitations</a></li>-->
<!--          <li><a>Cloud Storage Environment Settings</a></li>-->
<!--          <li><a>Authentication</a></li>-->
<!--          <li><a>Payments</a></li>-->
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
          <li><a>Reports</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-9">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, <%= current_user.email %>.
            </h1>
            <h2 class="subtitle">
              Oaxaca employee (Admin)
            </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title has-text-danger">3</p>
              <p class="subtitle has-text-danger">Pending issues</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title has-text-success">17</p>
              <p class="subtitle has-text-success">Completed issues</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">12</p>
              <p class="subtitle">Employees active</p>
            </article>
          </div>
        </div>
      </section>
      <p id="notice"><%= notice %></p>
      <div class="table-container">
        <section class="info-tiles">
          <table class="table is-bordered is-striped is-fullwidth is-hoverable">
            <h1 class="subtitle is-5">Calls:</h1>
            <thead>
            <tr>
              <th>Table</th>
              <th>Time requested</th>
              <th>Attended Status</th>
            </tr>
            </thead>
            <% @calls.each do |call| %>
              <tr>
                <td><%= call.id %></td>
                <td><%= call.created_at %></td>
                <td><%= call.attended %></td>
              </tr>
            <% end %>
          </table>
        </section>
      </div>

      <div class="table-container">
        <section class="info-tiles">
          <table class="table is-bordered is-striped is-fullwidth is-hoverable">
            <h1 class="subtitle is-5">Current Orders:</h1>
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Table number</th>
                <th>Order</th>
                <th>Requests</th>
                <th>Status</th>
                <th>Date and Time</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Table 5</td>
              <td>Chicken Quesedilla</td>
              <td>No cheese</td>
              <td><span class="tag is-link">Cooking</span></td>
              <td>01.01.2020 5:52:00pm</td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>

    </div>
  </div>
</div>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>