<!-- Navbar -->
<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Oaxaca Mexican Food</h1>
      <h2 class="subtitle">Table Ordering System</h2>
      <div class="tile is-ancestor">
        <!-- All other tile elements -->
        <div class="tile is-parent">
          <!-- Add content or other tiles -->
          <article class="tile is-child notification is-dark" onclick="location.href='javascript:history.back()';" style="cursor: pointer">
            <p class="title">Return to Menu</p>
          </article>
        </div>
        <div class="tile is-parent">
          <%= form_with model: @call, url: {action: "create"}, id: "call-waiter" do |f| %>
            <%= f.hidden_field :table_id, value: 0 %>
          <% end %>
          <article class="tile is-child notification is-dark" onclick="document.getElementById('call-waiter').submit();" style="cursor: pointer">
            <p class="title">Call Waiter</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark" onclick="location.href='<%= orders_path %>';" style="cursor: pointer">
            <p class="title">Orders <i class="fas fa-shopping-cart" style="float: right;"></i></p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero content: will be in the middle -->
<div class="menu-body">
  <div class="container">

    <div class="container">
      (For Alex: filters to be placed here)
    </div>

    <br>

    <p class="title">Starters</p>
    <div class="container">
      <div class="columns">
        <% @foods.each do |food| %>
          <% if (food.active and food.section.name.downcase == "starters") %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="<%= food.url %>" alt="Chicken Quesadilla">
                  </figure>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    <%= food.name %>
                  </p>
                  <p class="container">
                  </p>
                  <p class="card-header-title is-right">
                    £<%= food.price %>
                  </p>
                  <p class="card-header-title is-right">
                    <%= food.calories %> Kcal
                  </p>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <%= food.description %>
                    <hr>
                    <p class="has-text-weight-bold has-text-centered">Allergies: <%= food.allergens %></p>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Add to order</a>
                </footer>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>

    <p class="title">Mains</p>
    <div class="container'">
      <div class="columns">
        <% @foods.each do |food| %>
          <% if (food.active and food.section.name.downcase == "mains") %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="<%= food.url %>" alt="Chicken Quesadilla">
                  </figure>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    <%= food.name %>
                  </p>
                  <p class="container">
                  </p>
                  <p class="card-header-title is-right">
                    £<%= food.price %>
                  </p>
                  <p class="card-header-title is-right">
                    <%= food.calories %> Kcal
                  </p>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <%= food.description %>
                    <hr>
                    <p class="has-text-weight-bold has-text-centered">Allergies: <%= food.allergens %></p>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Add to order</a>
                </footer>
              </div>
            </div>
          <% end %>
        <% end %>

        </div>
      </div>

    <br>

    <p class="title">Sides</p>
    <div class="container'">
      <div class="columns">

        <% @foods.each do |food| %>
          <% if (food.active and food.section.name.downcase == "sides") %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="<%= food.url %>" alt="Chicken Quesadilla">
                  </figure>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    <%= food.name %>
                  </p>
                  <p class="container">
                  </p>
                  <p class="card-header-title is-right">
                    £<%= food.price %>
                  </p>
                  <p class="card-header-title is-right">
                    <%= food.calories %> Kcal
                  </p>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <%= food.description %>
                    <hr>
                    <p class="has-text-weight-bold has-text-centered">Allergies: <%= food.allergens %></p>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Add to order</a>
                </footer>
              </div>
            </div>
          <% end %>
        <% end %>

        </div>
      </div>

    <br>

    <p class="title">Desserts</p>
    <div class="container'">
          <div class="columns">
            <% @foods.each do |food| %>
              <% if (food.active and food.section.name.downcase == "desserts") %>
                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="<%= food.url %>" alt="Chicken Quesadilla">
                      </figure>
                    </div>
                    <header class="card-header">
                      <p class="card-header-title">
                        <%= food.name %>
                      </p>
                      <p class="container">
                      </p>
                      <p class="card-header-title is-right">
                        £<%= food.price %>
                      </p>
                      <p class="card-header-title is-right">
                        <%= food.calories %> Kcal
                      </p>
                      </a>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <%= food.description %>
                        <hr>
                        <p class="has-text-weight-bold has-text-centered">Allergies: <%= food.allergens %></p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Add to order</a>
                    </footer>
                  </div>
                </div>
              <% end %>
            <% end %>

            </div>
          </div>

    <br>

    <p class="title">Drinks</p>
    <div class="container'">
            <div class="columns">

              <% @foods.each do |food| %>
                <% if (food.active and food.section.name.downcase == "drinks") %>
                  <div class="column is-one-third">
                    <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="<%= food.url %>" alt="Chicken Quesadilla">
                        </figure>
                      </div>
                      <header class="card-header">
                        <p class="card-header-title">
                          <%= food.name %>
                        </p>
                        <p class="container">
                        </p>
                        <p class="card-header-title is-right">
                          £<%= food.price %>
                        </p>
                        <p class="card-header-title is-right">
                          <%= food.calories %> Kcal
                        </p>
                        </a>
                      </header>
                      <div class="card-content">
                        <div class="content">
                          <%= food.description %>
                          <hr>
                          <p class="has-text-weight-bold has-text-centered">Allergies: <%= food.allergens %></p>
                        </div>
                      </div>
                      <footer class="card-footer">
                        <a href="#" class="card-footer-item">Add to order</a>
                      </footer>
                    </div>
                  </div>
                <% end %>
              <% end %>

              </div>
            </div>
  </div>
</div>
