<br>
<% if @article.errors.any? %>
  <div id="error_explanation" class="container">
    <h2><strong><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</strong>
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <br>
<% end %>

<%= form_with(model: @article, local: true) do |form| %>
  <div class="container">
    <p>
      <label class="label"><%= form.label :title %></label>
      <%= form.text_field :title, class: 'input' %>
    </p>
    <br>
    <p>
      <label class="label"><%= form.label :text %></label>
      <%= form.text_area :text, class: 'textarea' %>
    </p>
    <br>
    <p>
      <%= form.submit :submit, class: 'button is-primary' %>
    </p>
  </div>

<% end %>