<!-- Navbar -->
<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Oaxaca Mexican Food</h1>
      <h2 class="subtitle">You're Seated at Table: <%= current_user.table.number %></h2>
      <div class="tile is-ancestor">
        <!-- All other tile elements -->
        <div class="tile is-parent">
          <!-- Add content or other tiles -->
          <article class="tile is-child notification is-dark" onclick="location.href='javascript:history.back()';" style="cursor: pointer">
            <p class="title">Return to Menu</p>
          </article>
        </div>
        <!-- Form call to allow the user to be able to create a new row in the help database -->
        <div class="tile is-parent">
          <%= form_with model: @call, url:{controller: "menu", action: "create"}, id: "call-waiter" do |f| %>
            <%= f.hidden_field :table_id, value: current_user.table.id %>
          <% end %>
          <article class="tile is-child notification is-dark" onclick="document.getElementById('call-waiter').submit();" style="cursor: pointer">
            <p class="title">Request for Help</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark" onclick="location.href='<%= orders_path %>';" style="cursor: pointer">
            <p class="title">Orders <i class="fas fa-shopping-cart" style="float: right;"></i></p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container">
    <p class="title">All Orders</p>
    <p class="subtitle">Bill No. <%= @current_bill.id %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Food Name</th>
          <th>Special Requests</th>
          <th>Price (£)</th>
          <th>Status</th>
          <th>Modify Order</th>
        </tr>
      </thead>
      <tbody>
      <!-- For loop to display all the food items in the order database -->
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.food.name %></td>
            <td><%= order.requests.camelcase %></td>
            <td><%= order.food.price %></td>
            <td><%= order.status.name.camelcase %></td>
            <!-- Method call to cancel the selected product from being completed -->
            <td><%= link_to 'Cancel', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, :class => "button is-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- Form that calls the Stripe payment method that is hosted by them. -->
    <p class="title">Total Price: £ <%= number_with_precision(@current_bill.total_price, precision: 2) %></p>
    <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
      <%= link_to "Pay now", add_payment_method_path, remote: true, class: "button" %>
    <% end %>
    </div>
  </div>
</div>
