
    <%= form_with(model: [:dashboard, @food], local: true) do |form| %>
      <% if food.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

          <ul>
            <% food.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :name %>
        </label>
        <div class="col-sm-10">
          <%= form.text_field :name %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :section %>
        </label>
        <div class="col-sm-10">
          <% section_options = options_from_collection_for_select(@sections, 'id', 'name') %>
          <%= form.select :section_id, section_options, class: "select" %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :url %>
        </label>
        <div class="col-sm-10">
          <%= form.text_field :url %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :description %>
        </label>
        <div class="col-sm-10">
          <%= form.text_area :description %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :allergens %>
        </label>
        <div class="col-sm-10">
          <%= form.text_area :allergens %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :calories %>
        </label>
        <div class="col-sm-10">
          <%= form.number_field :calories %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :price %>
        </label>
        <div class="col-sm-10">
          <%= form.text_field :price %>
        </div>
      </div>

      <div class="field">
        <label for="staticEmail" class="col-sm-2 col-form-label">
          <%= form.label :active %>
        </label>
        <div class="col-sm-10">
          <%= form.check_box :active %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
